<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://st10393673cldv6212poefunctions20240929214843.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourceGroups/AZ-JHB-RSG-VCWCCT-ST10393673-TER/providers/Microsoft.Web/sites/ST10393673CLDV6212POEFunctions20240929214843</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://st10393673cldv6212poefunctions20240929214843.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApBaJSE+YeUSEDD0bB/M0nAAAAAACAAAAAAAQZgAAAAEAACAAAAAGqn46Ea2B4Az1fIhdpDh8nBy04kAX725iwZbz5mUJ3gAAAAAOgAAAAAIAACAAAACAumiyP7E8YrSVE6oBpq3riM6yfCDUugU/T1o6+4mVoiAAAACRJ/Rd+nsQy/vavLtw/RKDHD3dD7B/UCF6Hg4iOyA5DkAAAAC0LlQDG93NMjtShb1cyNwbrcNLu2cjzgw3xzImUwdCFNPCBkr7Cw3YRAzUm7LP4FAmmnM5cYsPvQp79Fuc9N4g</EncryptedPassword>
    <History>False|2024-10-01T18:04:17.7775830Z;False|2024-10-01T19:58:24.4702335+02:00;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>