@{
    ViewData["Title"] = "Contact Us";
}

<h1 class="mb-5 text-left">@ViewData["Title"]</h1>

<div class="d-flex justify-content-around flex-wrap align-items-center vh-50">
    <div class="card text-center mb-4 custom-border" style="width: 18rem;">
        <div class="card-body">
            <img src="~/images/icons8-instagram-200.png" alt="Instagram Icon" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;" />
            <span class="d-block">Follow us on Instagram!</span>
        </div>
    </div>

    <div class="card text-center mb-4 custom-border" style="width: 18rem;">
        <div class="card-body">
            <img src="~/images/icons8-facebook-200.png" alt="Facebook Icon" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;" />
            <span class="d-block">Find us on Facebook!</span>
        </div>
    </div>

    <div class="card text-center mb-4 custom-border" style="width: 18rem;">
        <div class="card-body">
            <img src="~/images/icons8-whatsapp-200.png" alt="WhatsApp Icon" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;" />
            <span class="d-block">WhatsApp Us!</span>
        </div>
    </div>
</div>

<style>
    .custom-border {
        border-width: 2px !important;
    }
</style>
