@{
    ViewData["Title"] = "Special Offers";
}

<div class="container">
    <h1 class="display-4">Special Offers</h1>
    <p class="lead">Check out our latest deals and promotions here. Save more on your favorite products with our special discounts coming soon.</p>
</div>
